@import './fonts.sass'
@import './colors.sass'
@import './breakpoints.sass'

*
  padding: 0
  margin: 0
  border: 0
  box-sizing: border-box
  font-family: $fsans
  color: $c_txt_main
  @include fallback
    font-size: $fsize_standard
  @include wearablesAndPhones
    font-size: $fsize_extrasmall
  @include tablets
    font-size: $fsize_small
  @include hugeDevices
    font-size: $fsize_big

body
  background-color: $c_bg_ivory
  margin: 1rem 0

.main_container
  margin: 0 auto
  display: flex
  flex-direction: column
  @include wearables
    width: 100vw
  @include phones
    width: 97vw
  @include tablets
    width: 94vw
  @include noHD
    width: 91vw
  @include SHD
    width: 86vw
  @include QHD
    width: 82vw
  @include HD4K
    width: $maxBodyWidth

main, header, footer
  border: 1px $c_bg_ivory dotted

footer
  text-align: center
  position: relative
  &::before
    content: ''
    background-color: $c_bg_charcoal
    position: absolute
    height: 2px
    width: 100%
    top: 0
    left: 0

h1, h2
  color: $c_txt_title
  font-family: $fserif
  padding-top: 1.2rem
  text-transform: uppercase
  font-size: 1.2em

h3, h4
  color: $c_txt_subtitle
  padding-top: .9rem

p
  padding: .25rem 0

ul, ol
  padding: .3rem 0

li
  list-style: none

a
  text-decoration: dotted
  &:hover, &:active
    color: $c_txt_highlighted
    text-decoration: underline
    font-weight: bold

.mainTitle
  font-size: 3em
  color: $c_siena
  margin-left: .6rem
  padding: 0

.mainSubtitle
  font-size: .9em
  color: $c_theme_main
  font-style: italic
  margin: -.35rem 0 0 auto

header
  display: flex
  flex-direction: column
  align-items: flex-start
  @include fallback
    justify-content: flex-start
  @include wearablesAndPhones
    justify-content: center

.recipies
  display: flex
  flex-wrap: wrap
  @include fallback
    flex-direction: row
    align-items: center
    justify-content: space-evenly
  @include wearablesAndPhones
    flex-direction: column
    align-items: center
    justify-content: flex-start
  & li
    list-style: none
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: flex-start
    min-width: 15rem
    margin: 1rem
    text-align: center
    @include fallback
      max-width: 15rem
    @include wearablesAndPhones
      max-width: 80vw
    @include hugeDevices
      max-width: 15vh
      min-width: 30rem
    & img
      object-fit: cover
      object-position: center
      width: 100%
      @include fallback
        height: 15rem
      @include wearablesAndPhones
        height: 40vw
      @include hugeDevices
        height: 30rem

.categoriesMenu
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: stretch
  align-content: stretch
  & li
    display: inline-block
    list-style: none
    min-width: 12rem

nav
  margin-bottom: .5rem
  width: 100%
  position: relative
  &::before
    content: ''
    background-color: $c_theme_main
    position: absolute
    height: 1px
    width: 100%
    top: 0
    left: 0

.navMenu
  display: flex
  flex-wrap: wrap
  @include fallback
    flex-direction: row
    justify-content: center
    align-items: center
  @include wearables
    flex-direction: column
    justify-content: flex-start
    align-items: center
  & > li
    display: inline-block
    list-style: none
    min-width: 10rem
    color: $c_theme_main
    border-radius: .25rem
    margin: .25rem 1rem .05rem 0
    padding: 0 .25rem
    text-align: center
    & a
      color: $c_txt_subtitle
      font-weight: bold
      position: relative
      &::after
        content: ''
        height: 1px
        width: 120%
        background: $c_txt_secondary
        position: absolute
        top: 100%
        left: -10%
      &:hover
        text-decoration: none

.img__detail
  display: block
  margin: 0 auto
  width: 80%
  height: auto
  @include wearables
    max-width: min(30rem, 100vw)
  @include phones
    max-width: min(30rem, 97vw)
  @include tablets
    max-width: min(30rem, 94vw)
  @include noHD
    max-width: min(30rem, 91vw)
  @include SHD
    max-width: min(30rem, 86vw)
  @include QHD
    max-width: min(30rem, 82vw)
  @include HD4K
    max-width: min(30rem, 30vw)

.img__small
  max-width: 15rem
  max-height: 15rem
  object-fit: cover
  object-position: center
  width: 100%
  @include fallback
    height: 15rem
  @include wearablesAndPhones
    height: 40vw
  @include hugeDevices
    height: 30rem

.img__theme
  width: 4rem
  clip-path: circle(50% at center)
  transition-duration: 1s
  transition-property: transform
  &:hover
    transform: rotate(360deg)

.svg__icon
  max-height: 25px

.standard__flexcolumn
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

.standard__flexrow
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  width: 100%
  & p, h2, h3, h4
    padding: 0

.standard__flexrow--left
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center
  width: 100%
  & p, h2, h3, h4
    padding: 0

.text__secondary
  color: $c_txt_secondary
  font-size: .8em

.hcenter
  position: relative
  & > a
    text-align: left
    margin-top: .1rem
  &::before
    content: ''
    display: block
    background: yellow
    width: 80%
    height: 4px
    position: absolute
    top: 0
  &:hover
    font-weight: bold
    background: $c_bg_pinetree
    color: $c_txt_white
    transition: .7s ease-in-out
    &::before
      transform: translateX(2.5rem)
      transition: .7s ease-in-out
    & > a
      color: inherit

.mosaic__card
  height: 5rem
  width: 100%

.recipe__title
  color: $c_bg_pinetree
  font-family: $fsans
  position: relative
  margin-top: 0
  &::after
    width: 100%
    position: absolute
    content: ''
    height: 2px
    left: 0
    top: 100%
    background: yellow

.recipe__flexcontainer
  margin: 1rem 0 1rem 0
  display: flex
  flex-wrap: nowrap
  @include fallback
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
  @include wearablesAndPhones
    flex-direction: column
    align-items: center
    justify-content: flex-start

.flexcontainer__left
  flex-grow: 1
  min-width: 15rem

.flexcontainer__right
  flex-grow: 3

.inherit
  font-size: inherit
  font-family: inherit
  font-style: inherit
  font-weight: inherit
  color: inherit
  background-color: inherit
  padding: inherit
  margin: inherit
  border: inherit
  border-radius: inherit

.embedded-video
  position: relative
  margin: 0 auto
  padding-bottom: 56.25%
  padding-top: 0
  height: 0
  @include wearables
    max-width: 100vw
  @include phones
    max-width: 97vw
  @include tablets
    max-width: 94vw
  @include noHD
    max-width: 91vw
  @include SHD
    max-width: 86vw
  @include QHD
    max-width: 82vw
  @include HD4K
    max-width: 30vw
  & > iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 1080px
    border: none

.before
  width: inherit
  position: relative
  & > p
    text-align: left
  &::before
    content: ''
    display: block
    width: 100%
    height: 1px
    position: absolute
    top: 0