@import './fonts.sass'
@import './colors.sass'
@import './breakpoints.sass'

*
  padding: 0
  margin: 0
  border: 0
  box-sizing: border-box
  font-family: $fsans
  color: $c_txt_main
  @include fallback
    font-size: $fsize_standard
  @include wearablesAndPhones
    font-size: $fsize_extrasmall
  @include tablets
    font-size: $fsize_small
  @include hugeDevices
    font-size: $fsize_big

body
  background-color: $c_bg_ivory
  margin: 1rem 0

.main_container
  margin: 0 auto
  display: flex
  flex-direction: column
  @include wearables
    width: 100vw
  @include phones
    width: 97vw
  @include tablets
    width: 94vw
  @include noHD
    width: 91vw
  @include SHD
    width: 86vw
  @include QHD
    width: 82vw
  @include HD4K
    width: $maxBodyWidth

main, header, footer
  border: 1px red dotted

footer
  text-align: center

h1, h2
  color: $c_txt_title
  font-family: $fserif

h3, h4
  color: $c_txt_subtitle

a
  text-decoration: dotted
  &:hover, &:active
    color: $c_txt_highlighted
    text-decoration: underline
    font-weight: bold

.mainTitle
  font-size: 3em
  color: $c_siena

header
  display: flex
  flex-direction: column
  align-items: flex-start
  @include fallback
    justify-content: flex-start
  @include wearablesAndPhones
    justify-content: center

.recipies
  display: flex
  flex-wrap: wrap
  @include fallback
    flex-direction: row
    align-items: center
    justify-content: space-evenly
  @include wearablesAndPhones
    flex-direction: column
    align-items: center
    justify-content: flex-start
  & li
    list-style: none
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: flex-start
    min-width: 15rem
    margin: 1rem
    text-align: center
    @include fallback
      max-width: 15rem
    @include wearablesAndPhones
      max-width: 80vw
    @include hugeDevices
      max-width: 15vh
      min-width: 30rem
    & img
      object-fit: cover
      object-position: center
      width: 100%
      @include fallback
        height: 15rem
      @include wearablesAndPhones
        height: 40vw
      @include hugeDevices
        height: 30rem

.categoriesMenu
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: stretch
  align-content: stretch
  & li
    display: inline-block
    list-style: none
    min-width: 12rem

nav
  margin: 1rem auto

.navMenu
  display: flex
  flex-wrap: wrap
  @include fallback
    flex-direction: row
    justify-content: center
    align-items: center
  @include wearables
    flex-direction: column
    justify-content: flex-start
    align-items: center
  & li
    display: inline-block
    list-style: none
    min-width: 10rem
    background-color: $c_bg_lightgray
    border-radius: .25rem
    margin: .25rem 1rem .25rem 0
    padding: .25rem
    text-align: center
    & a
      color: $c_bg_pinetree

.img__detail
  @include wearables
    max-width: min(30rem, 100vw)
  @include phones
    max-width: min(30rem, 97vw)
  @include tablets
    max-width: min(30rem, 94vw)
  @include noHD
    max-width: min(30rem, 91vw)
  @include SHD
    max-width: min(30rem, 86vw)
  @include QHD
    max-width: min(30rem, 82vw)
  @include HD4K
    max-width: min(30rem, 30vw)